h1 {
    display: flex;
    justify-content: center;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
}

.foodShelter {
    display: flex;
    flex-direction: row;
}

img {
    height: 200px;
    width: 200px;
}

.foodParagraph {
    display: flex;
    padding: 20px;
}