h1 {
    display: flex;
    justify-content: center;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
}

